body{
    background-color: rgb(12, 23, 14);
  }
.columns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

.column{
    display: flex;
    flex-direction: column;
    width: 35%;
    align-items: center;
    border: 1px solid rgb(147, 157, 90);
    border-radius: 5px;
    padding-bottom: 20px;
    background-color: rgb(163, 206, 134);
}

.card{
    width: 55%;
    border: 1px solid rgb(220, 237, 127);
    border-radius: 5px;
    padding-bottom: 10px;
    background-color: rgb(116, 194, 77);
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.done{
    background-color: #9af58e;
}
.nodone{
    background-color: #f78888;
}
.reason{
    margin: 5px;
}

button{
    margin: 10px;
    width: 90%;
}
input{
    margin: 10px;
    width: 80%;
}
.board {
    background-color: rgb(62, 85, 65);
  }